  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&family=Lato:ital,wght@1,700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}
 .explore a:hover{
    text-decoration: underline;
}
header{
    background-color: #2874f0;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 80px;
    position: relative;
    top: 1px;
}
.logo img{
    width: 100%;
}
.explore{
    width: 80px;
    display: flex;
    white-space: nowrap;
    display: flex;
    /* justify-content: center; */
    align-content:flex-start ;
    height: 100%;
    position: relative;
    top: -2px;
}
.explore a{
    display: flex;
    color: white;
}
.explore p{
    margin: 0;
    font-size: 12px;
    font-style: italic;
    font-weight: 550;
    color: white;
}
.explore img{
    width: 10px;
    height: 10px;
    margin: 0;
}
.plus-icon{
    color: #ffe500;
}
/* search container */
.search-container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    max-width: 500px;
    min-width: 300px;
    width: 450px;
    height: 35px;
    margin: 0px 10px;
    background-color: white;
    border-radius: 2px;
    padding: 0px 10px;
}
.search-container i{
    color: #2874f0;
}
.search-container input{
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    font-family: 'Lato', sans-serif;

}
/* btn container */
.loginbtn_container{
    background-color: white;
    color: white;
    padding: 7px 40px;
    font-size: 18px;
    border-radius: 2px;
    margin: 0px 10px;
    
}

.loginbtn_container a{
    color: #2874f0;
    font-weight: 550;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
.nav-link{
    color: white;
    padding: 0px 15px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 550;
    font-family: 'Lato', sans-serif;
}
.nav-link:hover{
    color:white;
}
.more-link{
    font-weight: 550;
    padding: 0px 15px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}
.icon_more{
    font-size: 10px;
    transition: transform 0.5s;
}
.more-link:hover .icon_more{
    transform: rotate(-180deg);
}
.loginbtn-container{
    background-color: white;
    padding: 7px 40px;
    font-size: 18px;
    border-radius: 4px;
    margin: 0px 10px;
    position: relative;
}
.loginbtn-container a{
    color: #2874f0;
    font-weight: 550;
    text-decoration: none;
}
#log{
    position: relative;
     width: 65.53px;
     height: 30.3px;
     color: #fff;
     cursor: pointer;
     padding: 0rem 0rem;
     border-radius: 0.2rem;
     border: none;
     font-size: 14px;
     text-transform: capitalize;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     align-content: center;
     align-self: center;
     border-color: #1c1a51;
     background-color: #1c1a51;
     color: #fff;
    text-decoration: none;
    margin-left: 15px;
}


 .login-menu{
    position:absolute;
    top: 35px;
    height: 350px;
    width: 100%;
    width: 280px;
    background-color:red;
    box-shadow: -5px -0px 5px rgba(0, 0, 0,0.1),
    5px 5px 5px rgba(0, 0, 0,0.1);
    margin-left: -40px;
    transform: translateX(-30%);
    display: none;
    padding-top:15px;
 }
 .login-menu::before{
    position: absolute;
    content:"";
    margin-left: 130px;
    top: 1px;
    border-top: 0px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid white;
 }
.loginbtn-container:hover .login-menu{
    display: block;
}
.login-menu-list{
    height: 100px;
    max-height: 100%;
    background-color: white;
    box-shadow: -5px -0px 5px rgba(0, 0, 0,0.1),
    5px 5px 5px rgba(0, 0, 0,0.1);


} 

/* login end */